/*#root .header-utility {
    background: #046b99;   
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    min-height: 40px;
}

#root .header-utility__brand {
    height: 40px;
}

#root .header-utility__logo {
    height: 30px;
    margin-top: -10px;
}

#root .header-utility__title > a {
    color: #fff;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#root .header-utility__link > a {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}*/

.header-utility {
    background: #046b99;   
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-utility__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-utility__left {
    display: flex;
}

.header-utility__logo img {
    padding: 5px;
    height: 40px;
}

.header-utility__title {
    color: #fff;
    font-size: 22px;
    padding: 5px;
}

.header-utility__link a {
    color: #fff;
    padding: 5px;
}